<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="mp uap uap5 desktop6 rescap">

  <Identity
    Name="ClashSuki"
    Publisher="CN=shenyefan"
    Version="2.1.10.0" />

  <mp:PhoneIdentity PhoneProductId="7b1b3221-30d4-46df-aa3d-96c4f42d2bca" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>ClashSuki</DisplayName>
    <PublisherDisplayName>ClashSuki</PublisherDisplayName>
    <Logo>ClashSuki\Assets\Visuals\StoreLogo.png</Logo>
    <desktop6:FileSystemWriteVirtualization>disabled</desktop6:FileSystemWriteVirtualization>
    <desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="zh-CN" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="ClashSuki\ClashSuki.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        AppListEntry="default"
        DisplayName="ClashSuki"
        Description="ClashSuki"
        BackgroundColor="transparent"
        Square150x150Logo="ClashSuki\Assets\Visuals\Square150x150Logo.png"
        Square44x44Logo="ClashSuki\Assets\Visuals\Square44x44Logo.png">
        <uap:DefaultTile Square71x71Logo="ClashSuki\Assets\Visuals\SmallTile.png" Wide310x150Logo="ClashSuki\Assets\Visuals\WideTile.png" Square310x310Logo="ClashSuki\Assets\Visuals\LargeTile.png"/>
        <uap:SplashScreen Image="ClashSuki\Assets\Visuals\SplashScreen.png"/>
      </uap:VisualElements>
      <Extensions>
        <desktop6:Extension
          Category="windows.service"
          Executable="ClashSuki.Service\ClashSuki.Service.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop6:Service
            Name="ClashSukiService"
            StartupType="manual"
            StartAccount="localSystem" />
        </desktop6:Extension>
        <uap5:Extension
          Category="windows.startupTask"
          Executable="ClashSuki\ClashSuki.exe"
          EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="ClashSukiStartup"
            Enabled="false"
            DisplayName="ClashSuki" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="packagedServices" />
    <rescap:Capability Name="localSystemServices" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>
</Package>
