/.vs/
/.idea/
*.user
*.suo
/ClashSuki.Package/*.assets.cache
/ClashSuki/bin/
/ClashSuki/obj/
/ClashSuki.Service/bin/
/ClashSuki.Service/obj/
/ClashSuki.Package/bin/
/ClashSuki.Package/obj/
/ClashSuki.Package/AppPackages/
/ClashSuki.Package/Portable/
/ClashSuki.Repair/bin/
/ClashSuki.Repair/obj/
