/.vs/
/.idea/
/ClashSuki/bin/
/ClashSuki/obj/
/ClashSuki.Service/bin/
/ClashSuki.Service/obj/
/ClashSuki.Package/bin/
/ClashSuki.Package/obj/
/ClashSuki.Package/AppPackages/
/ClashSuki.Repair/bin/
/ClashSuki.Repair/obj/
/artifacts/
